.rectangleParent {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 21%;
  color: #fff;
  border-radius: 0 0 0 50px;
  background-color: #d9d9d9;
}
.newTopic {
  position: absolute;
  /* top: -3px; */
  left: 4%;
  background: linear-gradient(180deg, #000, #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  /* width: 265.6px; */
  height: 44%;
}

#groupItem {
  position: absolute;
  top: 50%;
  left: 9.8px;
  border-radius: 0 0 0 50px;
  width: 73%;
  height: 43%;
  background-color: #996749;
  border: none;
  box-sizing: border-box;
  color: white;
  outline: none;
  padding-left: 30px;
  font-size: 35px;
  font-family: var(--font-indie-flower);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
  
  #groupItem:hover,
  #groupItem:active {
    box-shadow: 0 0 30px rgba(0, 0, 0, 3); 
    transform: scale(0.95); 
  }
  
  #groupItem::placeholder {
    position: absolute;
    left: 33px;
    display: inline-block;
    color: white;
    opacity: 0.5;
    font-size: 35px; 
    font-family: var(--font-indie-flower); 
  }
  

  .groupInner {
    position: absolute;
    background-color: var(--color-sienna);
    height: 43%;
    top: 50%;
    left: 76%;
    width: 20%;
    border-radius: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
}
  
  .groupInner button {
    border: none;
    background: none;
    font-size: 100px;
    cursor: pointer;
    outline: none;
    transition:  box-shadow 0.3s ease; 
  }
  
  .groupInner:hover,
  .groupInner:active {
    box-shadow: 0 0 30px rgba(0, 0, 0, 3); 
    transform: scale(0.9); 
  }
  
  

  .div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 345px;
  color: white;
  height: 54px;
}
.div {
  font-size: 100px;
  width: 84px;
  height: 103px;
  font-family: var(--font-indie-flower);
}